#container {
    max-width: 95% !important;
}

.md {
    max-width: 95% !important;
}

.vee-highlighted {
    border: 1px solid orange;
}

a {
    cursor: pointer;
}

span.vee-user-tag {
    padding: 1px;
    margin-left: 2px;
    border: 1px solid gray;
}

img.vee-user-tag-tag {
    cursor: pointer;
    margin-left: 2px;
}

div.vee-user-tag-edit {
    padding: 20px;
    background-color: white;
    z-index: 20;
    position: absolute;
    border: 1px solid black;
}

div.vee-user-tag-edit h2 {
    margin-bottom: 5px;
}

div.vee-user-tag-edit span {
    display: none;
}

div.vee-user-tag-edit input {
    margin: 0 5px 5px 0;
    padding: 2px;
}

div.vee-user-tag-edit a {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 125%;
    padding: 2px;
    border: 1px solid gray;
}

table.vee-options {
    border-collapse: collapse;
}

table.vee-options th, table.vee-options td {
    border: 1px solid gray;
    padding: 3px;
}

table.vee-options th {
    font-weight: bold;
}

table.vee-options input {
    padding: 0 5px 0 5px;
}

div#vee-settings-items {
    font-size: 2em;
}

div#vee-settings-items h1 {
    font-size: 2em;
    text-align: center;
}

div#vee-settings-items h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

td#vee-options-feedback {
    text-align: right;
}
